.container-user[b-ydjnqnqrje]{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b19579;
    position: relative;
}
.logo[b-ydjnqnqrje]{
    width: 10rem;
    height: 10rem;
    border-radius: 50px;
}